.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socialIconsContainer {
  display: flex;
  gap: 20px;
}

.socialIcons,
.emailIcon,
.telephoneIcon {
  color: #cbfc2a;
  font-size: 1.5rem;
}

.topmateLogo {
  vertical-align: sub;
  height: 1.5rem;
  width: 1.5rem;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.telephone,
.email {
  color: #cbfc2a;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.heartIcon {
  color: #ff0000;
}

.ownerName {
  font-weight: bold;
  color: #cbfc2a;
}

@media screen and (min-width: 320px) {
  .footer {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 30px;
    gap: 20px;
  }

  .contactInfo,
  .contactDetails,
  .telephone,
  .email {
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 50px;
    gap: 30px;
  }

  .contactInfo {
    line-height: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
  }

  .socialIcons,
  .emailIcon,
  .telephoneIcon {
    font-size: 2rem;
  }

  .topmateLogo{
    height: 2rem;
    width: 2rem;
  }

  .contactDetails {
    flex-direction: row;
    gap: 40px;
  }
}
