.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.socialIconsContainer {
  display: flex;
  gap: 20px;
}

.socialIcons,
.emailIcon,
.telephoneIcon {
  color: #cbfc2a;
  width: 23px;
  height: 23px;
}

.topmateLogo {
  vertical-align: sub;
  width: 23px;
  height: 23px;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.telephone,
.email {
  color: #FAFAFA;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.heartIcon {
  color: #ff0000;
}

.ownerName {
  font-weight: bold;
  color: #cbfc2a;
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 50px;
    gap: 28px;
  }

  .contactInfo {
    line-height: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
  }

  .contactDetails {
    flex-direction: row;
    gap: 40px;
  }
}
