.greeting {
  font-family: var(--font-fira-code);
  font-weight: 500;
  font-size: 14px;
  line-height: 18.37px;
  text-align: center;
  color: #cbfc2a;
}

.heroTitle {
  font-family: var(--font-fira-code);
  font-weight: 700;
  font-size: 32px;
  line-height: 41.98px;
  text-align: center;
  color: #fafafa;
}

.heroDescription {
  font-family: var(--font-fira-code);
  font-weight: 500;
  font-size: 16px;
  line-height: 20.99px;
  text-align: center;
  color: #e3e5dc;
}

@media screen and (min-width: 1024px) {
  .greeting {
    font-size: 22px;
    line-height: 28.86px;
  }

  .heroTitle {
    font-size: 56px;
    line-height: 73.47px;
  }

  .heroDescription {
    font-size: 24px;
    line-height: 31.49px;
  }
}
