.aboutMeContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 32px;
  justify-content: center;
}

.imageContainer {
  width: auto;
}

.imageOverlay {
  z-index: 10;
  border-radius: 16px;
  background-color: #2f3d00;
  height: 335px;
  width: 254px;
  position: relative;
}

.selfImage {
  height: 335px;
  width: 254px;
  border-radius: 16px;
  left: 8px;
  bottom: 8px;
  position: absolute;
}

.title {
  font-family: Fira Code;
  font-weight: 700;
  font-size: 32px;
  line-height: 41.98px;
}

.selfInformationContainer {
  list-style-position: inside;
}

.information {
  font-family: Fira Code;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin: 1rem 0%;
  text-align: left;
  color: #e3e5dc;
}

.contactMeButton {
  padding: 10px;
  background: #cbfc2a;
  border-radius: 10px;
  color: #161a0b;
  font-family: Fira Code;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.99px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .aboutMeContainer {
    flex-direction: row;
    gap: 81px;
  }

  .imageOverlay {
    height: 435px;
    width: 320px;
  }

  .selfImage {
    height: 435px;
    width: 320px;
    left: 33px;
    bottom: 33px;
  }

  .title {
    font-size: 32px;
    line-height: 41.98px;
  }

  .information {
    font-size: 20px;
    line-height: 32px;
  }

  .selfInformationContainer {
    max-width: 1000px;
  }
}

.bounceInFromRightAnimation {
  animation: bounceInFromRight 1s ease 0s 1 normal forwards;
}

@keyframes bounceInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  60% {
    opacity: 1;
    transform: translateX(-30px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.bounceInFromLeftAnimation {
  animation: bounceInFromLeft 1s ease-in-out forwards;
}

@keyframes bounceInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  60% {
    opacity: 1;
    transform: translateX(30px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1.2);
  }
}
