.projectCardContainer {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: white;
  padding: 32px;
  gap: 32px;
  background: linear-gradient(180deg, #080a00 0%, #141a00 100%);
  box-shadow: 0px 25px 25px 0px #00000026;
  width: 100%;
}

.projectCardContainer:nth-child(n + 3) {
  display: none;
}

.projectDetailsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-top: 1px solid #ffffff1a;
  padding-top: 24px;
}

.technologiesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.projectDescriptionContainer {
  font-family: Fira Code;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #e3e5dc;
}

.projectCardContainer:hover {
  box-shadow: 0px 0px 10px 2px #cbfc2a;
}

.projectName {
  font-family: Fira Code;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #fafafa;
}

.projectImg {
  flex: 1;
  height: 384px;
  max-width: 100%;
  border-radius: 16px;
  align-self: center;
}

.projectButtonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 28px;
}

.projectCardIcon {
  color: #cbfc2a;
}

@media screen and (min-width: 1024px) {
  .projectImg {
    max-width: auto;
  }
  
  .projectCardContainer:nth-child(n + 3) {
    display: flex;
  }

  .projectCardContainer {
    padding: 48px;
    gap: 48px;
    border-radius: 12px;
    max-width: 1200px;
  }

  .projectCardContainer:nth-child(odd) {
    flex-direction: row;
  }

  .projectCardContainer:nth-child(even) {
    flex-direction: row-reverse;
  }

  .projectCardContainer:nth-child(odd) .projectDetailsContainer {
    border-top: none;
    padding-top: 0px;
    border-left: 1px solid #ffffff1a;
    padding-left: 48px;
  }

  .projectCardContainer:nth-child(even) .projectDetailsContainer {
    border-top: none;
    padding-top: 0px;
    border-right: 1px solid #ffffff1a;
    padding-right: 48px;
  }
}
