.skillsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  gap: 16px;
}

@media screen and (min-width: 1024px) {
  .skillsContainer {
    gap: 32px;
  }
}
